@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-bright-green);
  transition: 0.4s;
}

input {
  border: none;
  outline: none;
  border-bottom: .2em solid var(--color-bright-green);
  background: rgba(var(--color-bright-green), .2);
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: var(--color-bright-green);
  margin: 0 1em 0 0;
}

button {
  appearance: none;
  border: .2em solid var(--color-bright-green);
  background: var(--color-background);
  padding: .85em 1.5em;
  color: var(--color-bright-green);
  border-radius: 2em;
  transition: 1s;

  &:hover,
  &:focus,
  &:active {
    background: var(--color-bright-green);
    color: #fff;
  }
}


@media (hover: hover) {
  a:hover {
    background-color: var(--highlight-color);
  }
}

@media (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0 2rem;
  }
}