@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

li {
  list-style: none;
}

a,
.green {
  text-decoration: none;
  color: var(--color-bright-green);
  transition: 0.4s;
}

input {
  border: none;
  outline: none;
  border-bottom: .2em solid var(--color-bright-green);
  background: rgba(var(--color-bright-green), .2);
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: var(--color-bright-green);
  margin: 0 1em .5em 0;
}

button {
  appearance: none;
  border: .2em solid var(--color-bright-green);
  background: var(--color-background);
  padding: .85em 1.5em;
  color: var(--color-bright-green);
  border-radius: 2em;
  transition: 1s;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background: var(--color-bright-green);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.well-small {
  background: var(--color-background-soft);
  margin: auto;
  padding: 0px 20px 20px 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* https://css-loaders.com/moving/#l5 */
.loader {
  height: 50px;
  aspect-ratio: 1;
  display: grid;
}

.loader:before,
.loader:after {
  content: "";
  --c: no-repeat linear-gradient(var(--highlight-color) 0 0);
  background: var(--c), var(--c);
  background-size: 25% 50%;
  animation: l5 1.5s infinite linear;
}

.loader:after {
  transform: scale(-1);
}

@keyframes l5 {

  0%,
  5% {
    background-position: 33.4% 100%, 66.6% 100%
  }

  25% {
    background-position: 33.4% 100%, 100% 0
  }

  50% {
    background-position: 0 0, 100% 0
  }

  75% {
    background-position: 0 0, 66.6% 100%
  }

  95%,
  100% {
    background-position: 33.4% 100%, 66.6% 100%
  }
}


@media (hover: hover) {
  a:hover {
    background-color: var(--highlight-color);
  }
}

@media (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0 2rem;
  }
}